---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getEntry } from 'astro:content';

const { slug } = Astro.params;
const entry = await getEntry('writing', 'product-designer');

if (!entry) {
  throw new Error(`Writing entry not found: ${slug}`);
}

const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  <article class="post">
    <h1>{entry.data.title}</h1>
    <p class="description">{entry.data.description}</p>

    <Content />
  </article>
</BaseLayout>
