<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://gravatar.com/avatar/ade3da72d798ba1e685c225006e18b0f7d1942e8136be5f07257c25c7c903476?size=256&d=initials" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Kenneth's portfolio" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="alternate" type="application/atom+xml" title="Kenneth's Portfolio" href="/feed.xml" />
    {% seo "" %}
  </head>
  <body>
  <main>
    
    {# Page or post content will appear here #}
  
    {{ content | safe }}

      <footer class="footer">
        <div class="links">
          <a href="https://twitter.com/Kenneth" target="_blank" rel="noopener noreferrer">X</a>
          <span class="divider">|</span>
          <a href="https://bsky.app/profile/ken.cv" target="_blank" rel="noopener noreferrer">Bluesky</a>
        </div>

      </footer>
    
  </main>
   
  </body>
</html>